<a href="https://colab.research.google.com/github/nongsi1136/zerobase_python/blob/main/2_%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95_%EC%A0%95%EC%8B%A0%ED%99%8D_%EC%88%98%EA%B0%95%EC%83%9D_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 문제 1. name, age, height 변수를 사용하여 아래와 같은 출력이 나오는 코드를 작성하세요.
Name: Alice<br>
Age: 30<br>
Height: 160<br>

In [ ]:
name = "Alice"
age = 30
height = 160

print("Name:", name)
print("Age:", age)
print("Height:", height)

Name: Alice
Age: 30
Height: 160

### 문제 2. 문제 1에서 age와 height 변수의 값을 변경한 뒤, 아래와 같은 형식으로 출력하는 코드를 작성하세요:

age: 35<br>
height: 165

In [ ]:
age = 35
height = 165

print("age:", age)
print("height:", height)

age: 35
height: 165

### 문제 3. 리스트 my_list = [15, 25, 35, 45, 55]에서 두 번째 요소를 출력하시오.

In [ ]:
my_list = [15, 25, 35, 45, 55]

print(my_list[1])

25

### 문제 4. 리스트 my_list = [100, 200, 300, 400, 500]에서 두 번째부터 네 번째 요소까지를 출력하시오.

In [ ]:
 my_list = [100, 200, 300, 400, 500]

 print(my_list[1:4])

[200, 300, 400]

### 문제 5. 리스트 my_list = [10, 20, 30, 40, 50]에서 세 번째 요소를 99로 변경하고, 변경된 리스트를 출력하시오.

In [ ]:
my_list = [10, 20, 30, 40, 50]

my_list[2] = 99
print(my_list)

[10, 20, 99, 40, 50]

### 문제 6. 주어진 문자열 "Data Science"와 리스트 [3, 6, 9, 12, 15]의 길이를 각각 구한 후, 두 값의 합을 출력하는 코드를 작성하시오.



```
# 코드로 형식 지정됨
text =  "Data Science"
numbers = [3, 6, 9, 12, 15]

text_length = len(text)
numbers_length = len(numbers)

total_length = text_length + list_length
print(total_lenght)
```

### 문제 7. 다음과 같은 리스트에서 합계를 구하시오.

L = [5, 10, 15, 20]

In [ ]:
L = [5, 10, 15, 20]
print(sum(L))

50

### 문제 8. 리스트 [100, 200, 300, 400]에서 최소값과 최대값을 구한 후, 두 값의 합을 출력하는 코드를 작성하시오.

In [ ]:
numbers = [100, 200, 300, 400]
min_number = min(numbers)
max_number = max(numbers)

print(min_number + max_number)

500

### 문제 9. 주어진 문자열 "red,blue,green,yellow"에서 각 색을 분리하고, 다시 - 기호를 구분자로 하여 문자열을 합치시오.

In [ ]:
colors = "red,blue,green,yellow"
color_list = colors.split(",")

print(color_list)
print(" - ".join(color_list))

['red', 'blue', 'green', 'yellow']
red - blue - green - yellow

### 문제 10. 다음과 같은 리스트에 "orange"를 추가한 후, 리스트를 출력하시오.

리스트: ["dog", "cat", "bird"]

In [ ]:
animals = ["dog", "cat", "bird"]
animals.append("orange")
print(animals)

['dog', 'cat', 'bird', 'orange']

### 문제 11. 집합 {5, 10, 15}와 {10, 20, 30}의 교집합의 길이(요소의 개수)를 구하시오.

In [ ]:
a ={5, 10, 15}
b = {10, 20, 30}

ab = a.intersection(b)
print(len(ab))

1

### 문제 12. 리스트 [3, 6, 9, 3, 6, 12, 15]에서 중복을 제거하고, 정렬된 결과를 출력하시오.

In [ ]:
# prompt: numbers = [3, 6, 9, 3, 6, 12, 15]
# new_numbers = sorted(list(set(numbers)))
# print(new_numbers)

numbers = [3, 6, 9, 3, 6, 12, 15]
new_numbers = sorted(list(set(numbers)))
new_numbers

[3, 6, 9, 12, 15]