<a href="https://colab.research.google.com/github/nongsi1136/zerobase_python/blob/main/6_%ED%95%A8%EC%88%98_%EC%A0%95%EC%8B%A0%ED%99%8D_%EC%88%98%EA%B0%95%EC%83%9D_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 문제 1. 두 숫자를 입력받아 첫 번째 숫자를 두 번째 숫자로 나누는 함수를 작성하세요. 단, 두 번째 숫자가 0일 경우 "0으로 나눌 수 없습니다."를 출력하도록 합니다. 함수 이름은 divide_numbers로 하고, 두 숫자를 매개변수로 받아 결과를 출력하거나 오류 메시지를 출력하세요.

In [ ]:
def divide_numbers(a,b):
  if b == 0:
    print("0으로 나눌 수 없습니다.")
  else:
    print(a/b)

divide_numbers(10,2)
divide_numbers(13,0)
divide_numbers(8,2)
divide_numbers(176,2)

5.0
0으로 나눌 수 없습니다.
4.0
88.0

## 문제 2. 자연수인 숫자를 입력받으면 1부터 그 숫자까지 합을 반환하는 함수를 작성하세요. 자연수가 아닌 숫자가 들어오면 0을 반환하세요.

In [ ]:
def sumnumber(a):
  if isinstance(a, int) and a > 0:
    sum = 0
    for i in range(1,a+1): #1부터 a까지 반복
      sum += i # sum = sum + i (현재 i를 sum에 더함)
    return sum  # 최종적으로 합을 반환
  else:
    return 0

print(sumnumber(10))
print(sumnumber(-5))
print(sumnumber(5.5))
print(sumnumber("10"))

55
0
0
0

## 문제 3. calculate_tax라는 함수를 작성하세요. 이 함수는 가격과 세율을 받아 세금을 계산합니다. 세율이 제공되지 않으면 기본값으로 10%가 적용되도록 합니다.

In [ ]:
def calculate_tax(price, rate=0.1):
  tax = price * rate
  return tax


price = 100000
print(calculate_tax(price))
print(calculate_tax(price,0.35))

10000.0
35000.0

## 문제 4. 두 수를 받아 합을 반환하는 람다 함수를 작성하세요.

In [ ]:
add_lambda = lambda a, b: a + b

print(add_lambda(3, 4))

7

## 문제 5. 리스트의 모든 요소에 10을 더하는 람다 함수를 작성하고, map을 사용하여 각 원소에 10을 더하세요.

In [ ]:
numbers = [1, 2, 3, 4, 5]

add_10 = lambda x: x + 10

result = list(map(add_10, numbers))

print(result)

[11, 12, 13, 14, 15]

## 문제 6. ['apple', 'banana', 'cherry']를 a의 개수를 기준으로 정렬하세요.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
sorted_fruits = sorted(fruits, key=lambda word :word.count('a'))
print(sorted_fruits)

['cherry', 'apple', 'banana']